.profile-header {
  font-size: 3rem;
  text-align: center;
}

.profile-tagline {
  font-size: 1rem;
  text-align: center;
}

.profile-aboutme {
  font-size: 0.75rem;
  text-align: center;
}

.sitters-header {
  text-align: center;
  font-size: 3rem;
}

.sitter-profile {
  padding: 2rem 0;
}


.nav-text {
  font-family: 'Raleway', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

#root {
  background-color: #e1f6f4;
  height: 100%;
}

.customNav{
  background-color: #6AC1B8;
}

.custom-button{
  background-color: #6AC1B8;
  border: none;
  width: 100%;
  padding: 2%;
  border-radius: 12px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}


.custom-container{
  background-color: white;
  height: 100%;
}

.scroll {
    height: 10rem;
    overflow-y: scroll;
}

.hidden{
  display: none;
}

button
 {
  cursor: pointer;
}
