.profile-header {
  font-size: 1.2rem;
  text-align: center;
}

.profile-tagline {
  font-size: 0.75rem;
  text-align: center;
}

.profile-aboutme {
  font-size: 0.75rem;
  text-align: center;
}

.sitters-header {
  text-align: center;
  font-size: 3rem;
}

.sitter-profile {
  padding: 2rem 0;
}

.nav-text {
  font-family: Raleway, sans-serif;
}

.lato {
  font-family: Lato, sans-serif;
}

.raleway {
  font-family: Raleway, sans-serif;
}

#root {
  background-color: #e1f6f4;
}
